<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

    <!-- Navbar Partial -->
    <%- include ("./partials/nav.ejs")  %>

    <div class="display-1"><%= post.title %> </div>
    <div class="display-1"><%= post.body %> </div>

    <!-- Footer -->
    <%- include ("./partials/footer.ejs") %>

</body>

</html>